<!-- <router-outlet></router-outlet> -->

<div class="uk-container uk-margin-top">
  <h1 class="title is-1">Formulario Reactivo</h1>

  <form [formGroup]="form" (ngSubmit)="guardar(form.value)">
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input
          formControlName="nombre"
          [ngClass]="{
            'uk-form-danger': campoNombre.errors && campoNombre.touched,
            'uk-form-success': !campoNombre.errors
          }"
          class="uk-input uk-form-large"
          type="text"
          placeholder="Ingresa tu nombre"
          minlength="3"
        />

        <span
          *ngIf="campoNombre.errors && campoNombre.touched"
          class="uk-form-icon uk-form-icon-flip uk-text-danger"
          uk-icon="icon: close"
        ></span>
        <span
          *ngIf="!campoNombre.errors"
          class="uk-form-icon uk-form-icon-flip uk-text-success"
          uk-icon="icon: check"
        ></span>
      </div>

      <div
        *ngIf="campoNombre.errors && campoNombre.touched"
        class="uk-text-danger uk-text-small"
      >
        Escriba un nombre con 3 letras como mínimo por favor.
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: mail"></span>
        <input
          formControlName="email"
          [ngClass]="{
            'uk-form-danger': campoEmail.errors && campoEmail.touched,
            'uk-form-success': !campoEmail.errors
          }"
          class="uk-input uk-form-large"
          type="email"
          placeholder="Ingresa tu email"
        />

        <span
          *ngIf="campoEmail.errors && campoEmail.touched"
          class="uk-form-icon uk-form-icon-flip uk-text-danger"
          uk-icon="icon: close"
        ></span>
        <span
          *ngIf="!campoEmail.errors"
          class="uk-form-icon uk-form-icon-flip uk-text-success"
          uk-icon="icon: check"
        ></span>
      </div>

      <div
        *ngIf="campoEmail.errors && campoEmail.touched"
        class="uk-text-danger uk-text-small"
      >
        Escriba un email válido por favor.
      </div>
    </div>

    <div class="uk-text-center">
      <button
        [disabled]="form.invalid"
        type="submit"
        class="uk-button uk-button-primary uk-button-large"
      >
        Enviar
      </button>
    </div>
  </form>

  <div
    *ngIf="mostrarInfo"
    class="uk-card uk-card-default uk-card-body uk-margin-top"
  >
    <h3 class="uk-card-title">Información enviada</h3>
    <p>Nombre: <span class="uk-text-bold">{{ form.value.nombre }}</span></p>
    <p>Email: <span class="uk-text-bold">{{ form.value.email }}</span></p>
  </div>
</div>
